.main
{
    h1
    {
        color:purple;
        text-align: center;
    }
    padding: 3%;
    .textarea-bloc
    {
        width: 50%;
        margin:auto;
        padding-bottom: 20px;
        textarea 
        {
            width: 100%;
            height: 120px; 
        } 
    }

}

.form-bloc
{
    border:1px solid purple;
}